html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>header, section {
    max-width: 1200px;
    width: 100%;
}

.header__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.header__navigation {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navigation>a {
    text-decoration: none;
    color: black;
    padding: 20px 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.hero__image {
    margin-top: 50px;
    width: 100%;
    height: 350px;
    background: url("./pexels-photo-276549-e1518168651468-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__image>h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.hero__image>h1 {
    color: #ffffff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    margin: 0;
}

.hero__articles {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero__articles-item {
    border: 1px solid black;
    margin: 10px;
}

.hero__articles-item>h3 {
    margin-top: -15px;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.hero__articles-item>h3>span {
    background-color: #ffffff;
    padding: 0px 20px;
}

.hero__articles-item>p {
    margin: 20px 20px;
    font-family: "Poppins", sans-serif;
}

.articles {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.articles__left {
    width: 70%;
    margin-right: 20px;
}

.articles__left-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 30px 0;
    margin: 30px 0;
}

.articles__left-item>img {
    width: 90%;
}

.articles__left-item__title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    color: black;
    margin: 20px 0;
}

.articles__left-item__wrapper>a {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.articles__left-item>p {
    font-family: 'Lato', serif;
    font-size: 16px;
    line-height: 150%;
    color: #656565;
    margin: 30px 30px;
}

.articles__left-item__button {
    padding: 20px 40px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

.articles__right {
    width: 30%;
    margin-left: 20px;
}

footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>div {
    max-width: 1200px;
}

.footer__top {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer__top-item {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer__top-item>h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-bottom: 10px;
}

.footer__top-item>span {
    display: block;
    height: 1px;
    width: 30px;
    background-color: #888888;
}

.footer__top-item>p {
    color: #656565;
}

.footer__bottom {
    border-top: 1px solid white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer__bottom>p {
    opacity: .8;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
