@media (max-width: 650px) {
.hero__image {
		
}


.hero__articles {
	display: block;
}

.articles {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.articles__left {
    width: auto;
    margin-right: 0px;
    margin-left: 110px;
}

}